<ul>
  <% @categories_and_number_of_questions_hash.each do |key, value| %>
    <div>
      <h3><%= key %></h3>
      <p> Anzahl an Fragen: <%= value %></p>
      <%= link_to "Training beginnen", training_path(chosen_category: key) %>
    </div>
  <% end %>
</ul>
