<div class="section pt-0 pt-lg-3">
  <div class="container ">
    <div class="row my-5 position-relative">
      <div class="col-md-6 impLeft mb-5">
        <h3 class="heading"><strong>Über uns</strong></h3>

        <p class="mb-4">
          some inspirational paragraph about this service
        </p>
      </div>
    </div>
  </div>
</div>
