<div class="section pt-0 pt-lg-5">
  <div class="container ">
    <div class="row mt-5 position-relative">
      <div class="col-md-6 mainLeft">
        <h1 class="main_heading">SKS <strong>Theorie lernen</strong></h1>
        <p>Alle Fragen für die SKS Prüfung. Kostenlos.</p>
        <%= link_to 'Zum Fragen Trainer', overview_path, class: "btn btn-primary btn-theme" %>
      </div>
      <div class="col-md-6">
        <div class="rot">
          <div class="row">
              <%= image_tag "fragen_ueberblick.png", class: "overflow-ok" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
