<div class="section pt-0 pt-lg-3">
  <div class="container ">
    <div class="row my-5 position-relative">
      <div class="col-md-6 impLeft mb-5">
        <h3 class="heading"><strong>Impressum</strong></h3>
        <p class="mb-4">SKS Lernen ist ein Service von:</p>

        <p class="mb-4">
          Dan Kreibich<br>
          Jablonskistraße 26<br>
          10405 Berlin, DE
        </p>

        <p class="mb-5 pb-5">Email: moin@sks.school</p>

      </div>
    </div>
  </div>
</div>
